In [2]:
#Question 0
marks = {'Andy':88, 'Amy':66, 'James': 90, 'Jules': 55, 'Arthur': 77}

In [4]:
#Question 1
for name,grade in marks.items():
    print(name,grade)

Andy 88
Amy 66
James 90
Jules 55
Arthur 77

In [10]:
#Question 2
import statistics
statistics.mean(marks.values())

75.2

In [11]:
max(marks.values())

90

In [12]:
min(marks.values())

55

In [20]:
#Question 3
for marks_grade in marks.keys():
    if "J" in marks_grade:
        break
    print(marks_grade)

Andy
Amy

In [19]:
#Question 4
for marks_grade in marks.keys():
    if "J" in marks_grade:
        continue
    print(marks_grade)

Andy
Amy
Arthur

In [40]:
#Question 5
def function(student_name):
    for students in marks: 
        if students == student_name:
            print(marks[students])
            break     
    else:
        print("You cannot find this student\'s name")
function('Andy')
function('Amy')
function('James')
function('Jules')
function('Arthur')
function('Jack')

88
66
90
55
77
You cannot find this student's name

In [57]:
#Question 6
def less_than(num):
    n=0
    while n<num:
        print(n,pow(n,2)) 
        n += 1
    else: 
        print("greater than",num)

In [58]:
less_than(8)

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
greater than 8

In [51]:
#Question 7
def sum1(num):
    sum = 0
    i = 1
    while i<=num:
        sum += i
        i += 1
    return sum

In [52]:
sum1(8)

36

In [60]:
#Question 9
def sum2(num):
    sum=0
    n=1
    for n in range(num):
        sum += n
        print(sum)

In [61]:
sum2(9)

0
1
3
6
10
15
21
28
36

In [48]:
#Question 10
def minimal(v1,v2,v3,v4):
    minimum_value=v1
    if v2 < minimum_value:
        minimum_value = v2
    if v3 < minimum_value:
        minimum_value = v3
    if v4 < minimum_value:
        minimum_value = v4
    return minimum_value

minimal(2,5,8,9)

2